.link {
    background-color: rgb(155, 155, 155);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    float: left;
    width: 100%;
    box-sizing: border-box; 
}

#basket_home {
    float: right;
}

.simple_button {
    background-color: rgb(155, 155, 155);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    box-sizing: border-box; 
}

#msg_box {
    background-color:  rgb(155, 155, 155);
    border: thin;
    color: black;
    font-size: 25px;
    position: fixed;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 1%;
    text-decoration: blink;
    bottom: 0%;
}

body {
  padding: 0;
  margin: 0;  
}